php_flag opcache.enable Off
Options -MultiViews
RewriteEngine On
Options -Indexes
RewriteCond %{REQUEST_URI} !(.js$)
RewriteCond %{REQUEST_URI} !(.css$)
RewriteCond %{REQUEST_URI} !(.ico$)
RewriteCond %{REQUEST_URI} !(.php$)
RewriteRule ^(.*)$ index.php?htaccess=$1 [QSA,L]
